<!DOCTYPE html>
<html>
<head>
  <title>DoggieDaycare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to fa_icon("home", text: "Home"), root_path %>
<%= link_to fa_icon("info", text: "About"), about_path %>

<%= yield %>

</body>
</html>
