<%= form_for @dog do |dog_fields| %>
  <div class="form-group">
    <%= dog_fields.label :name %><br>
    <%= dog_fields.text_field :name, class: "form-control", placeholder: "Fido" %>
  </div>

  <div class="form-group">
    <%= dog_fields.label :breed %><br>
    <%= dog_fields.text_field :breed, class: "form-control", placeholder: 'Poodle' %>
  </div>

  <div class="form-group">
    <%= dog_fields.label :age %><br>
    <%= dog_fields.number_field :age, class: "form-control", placeholder: 5 %>
  </div>

  <div class="form-group">
    <%= dog_fields.label :owner %><br>
    <%= dog_fields.text_field :owner, class: "form-control", placeholder: 'Jane Smith' %>
  </div>

  <%= dog_fields.submit class: "btn btn-primary btn-block" %>
<% end %>

<p>
  <%= link_to 'Cancel', dogs_path %>
</p>
