<h1>My Dogs</h1>

<p>
  <%= link_to "Add a new dog", new_dog_path %>
</p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Breed</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.id %></td>
        <td><%= link_to dog.name, dog_path(dog) %></td>
        <td><%= dog.breed %></td>
        <td><%= dog.age %></td>
      </tr>
    <% end %>
  </tbody>
</table>
