<h1>My Dogs</h1>

<p>
  <%= link_to "Add a new dog", new_dog_path %>
</p>

<table border="1px solid black">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Breed</th>
      <th>Age</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.id %></td>
        <td><%= link_to dog.name, dog_path(dog) %></td>
        <td><%= dog.breed %></td>
        <td><%= dog.age %></td>
        <td><%= link_to "Edit", edit_dog_path(dog) %></td>
        <td><%= link_to "Delete", dog, method: :delete, data: { confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
