<h1>My Dogs</h1>

<p>
  <%= link_to fa_icon('plus', text: "Add a new dog"), new_dog_path, class: "btn btn-default" %>
</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Breed</th>
      <th>Age</th>
      <th>Owner</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.id %></td>
        <td><%= link_to dog.name, dog_path(dog) %></td>
        <td><%= dog.breed %></td>
        <td><%= dog.age %></td>
        <td><%= dog.owner %></td>
        <td><%= link_to fa_icon('pencil', text: "Edit"), edit_dog_path(dog) %></td>
        <td><%= link_to fa_icon('trash', text: "Delete"), dog, method: :delete, data: { confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
