<h1>Details for <%= @dog.name %></h1>

<p>
  <strong>ID:</strong> <%= @dog.id %>
</p>

<p>
  <strong>Breed:</strong> <%= @dog.breed %>
</p>

<p>
  <strong>Age:</strong> <%= @dog.age %>
</p>

<p>
  <strong>Owner:</strong> <%= @dog.owner.try(:name) %>
</p>

<p>
  <strong>Date Added:</strong> <%= @dog.created_at.stamp('02/14/2016') %>
</p>

<p><%= link_to "Edit", edit_dog_path(@dog) %></p>
<p><%= link_to "All dogs", dogs_path %></p>
